<%= render "shared/header" %>

<div class="sign-in-main">
    <h2>ログイン</h2>
  <div class="sign-in-form">
    
    <div class="form-header">
      
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

      <div class="actions">
  <%= f.submit "ログインする", class: "custom-button" %>
  </div>
    <% end %>
  </div>  
</div>


<%= render "shared/footer" %>
