
    
<%= render "shared/header" %>

    <main>
      <div class="main-first">
        <%= image_tag "wine.jpg", class:"wine" %>  
        <div class="description">お気に入りのワインが見つかる日本最大のワイン検索サイト</div>
        <div class="logo"><%= image_tag "logo.png", class:"logo" %> </div>
        <div class="hoge">キーワード・産地・特徴から検索できるようにする</div>
        <div class="search-container">
          <input type="text" style="width: 220px; height: 80px;" placeholder="キーワード・産地・特徴">
          <button type="submit">検索</button>
        </div>
        <%= link_to(new_review_path, class: 'post-review-btn') do %>
        <div class="post-review-text">レビュー投稿
        <%= image_tag 'wine-glass.png', size: '185x50' ,class: "post-review-btn-icon" %>
        </div><% end %>
      </div>

    <div class="main-second">
    <div class="reviews">

      <% @reviews.each do |review| %>
      
      <div class="review">     
        
        <div class="review-top">
          <%= link_to(image_tag(review.user.avatar, alt: review.user.nickname, class: "avatar"), user_path(review.user)) %>
          <div class="user-name"><%= link_to review.user.nickname, user_path(review.user), class: "user-name-color" %></div>
          <div class="wine-date"><%= review.wine_date %></div>
          <div class="wine-name">
            <%= link_to "#{review.wine.name} （ #{Region.find(review.wine.region_id).name} ）", "#", class: "wine-name-color" %>
          </div>
        </div>

        <div class="review-content">
          <div class="review-image">
            <%= link_to image_tag(review.image, class: "review-image"), "#" %>
          </div>
          <div class="review-text"><%= review.content %></div>
        </div>

        <div class="attachment">
          <%= image_tag "good&comment.png", class: "good-comment" %>
        </div>
        </div>

      <% end %>
    </div>
    </div>

    </main> 

<%= render "shared/footer" %>

 
