
    
<%= render "shared/header" %>

    <main>
      <div class="main-first">
        
        <%= image_tag "wine.jpg", class:"wine" %>  
        <div class="description">あなたのお気に入りのナチュラルワインがきっと見つかる</div>
        <div class="logo"><%= image_tag "logo.png", class:"logo" %> </div>
        
        <div class="hoge">キーワード・産地・特徴から検索できるようにする</div>
        <%= form_with url: search_wines_path, method: :get, local: true, html: {class: "search-container"} do |form| %>
        <%= text_field_tag :keyword, nil, placeholder: "キーワード・産地・特徴", style: "width: 220px; height: 80px;" %>
        <%= submit_tag "検索", class: "search-container-button", style: "height: 90px; width: 60px;" %>
        <% end %>

        </div>
        
        

        <%= link_to(new_review_path, class: 'post-review-btn') do %>
        <div class="post-review-text">レビュー投稿
        <%= image_tag 'wine-glass.png', size: '185x50' ,class: "post-review-btn-icon" %>
        </div>
        <% end %>

      </div>

    

      <%= render "shared/review_index"%>
      
    

    </main> 

<%= render "shared/footer" %>

 
