<%= render "shared/header" %>

<div class="review-new-main">
  <div class="review-invitation">ワインのレビューを投稿しよう</div>
  <div class="review-format">
  <div class="review-format-upper">
     <%= form_with(model: @review, local: true) do |form| %>
        
          <%= form.label :date, "日付(後々JS使う)" %>
          <%= form.text_field :date, class: "date-field" %>
        
          <%= form.label :name, "ワイン名" %>
          <%= form.text_field :name, class: "name-field" %>
        
  </div>

  <div class="review-format-middle">
    <div class="review-format-middle-first">
      
          <%= form.label :wine_bar, "お店" %>
          <%= form.text_field :wine_bar, class: "wine-bar-field" %>
        
          <%= form.label :type, "色" %>
          <%= form.collection_select(:type_id, Type.all, :id, :name, {}, {class:"type-field"}) %>
        
          <%= form.label :grape_variety, "品種" %>
          <%= form.collection_select(:grape_variety_id, GrapeVariety.all, :id, :name, {}, {class:"grape-variety-field"}) %>
        
    </div>
    <div class="review-format-middle-second">
          
          <%= form.label :wine_region, "産地" %>
          <% options = @grouped_wine_regions.map { |continent, countries| [continent, countries.unshift(['---', nil])] } %>
          <%= form.select :wine_region, grouped_options_for_select(options), {}, class: 'region-field' %>  
          
          <%= form.label :producer, "生産者" %>
          <%= form.text_field :producer, class: "producer-variety" %>

    </div>
    <div class="review-format-middle-third">
      <% Review.wine_attributes.each do |attribute| %>
    
      <% case attribute %>
        <% when :sweetness %>
          <%= form.label attribute, "甘み" %>
        <% when :bitterness %>
          <%= form.label attribute, "渋み" %>
        <% when :acidity %>
          <%= form.label attribute, "酸味" %>
        <% when :alcohol %>
          <%= form.label attribute, "アルコール" %>
      <% end %>
      
      <% WineAttribute.all.each do |option| %>
        <%= form.radio_button attribute, option.id %>
        <%= option.name %>
      <% end %>
    
     <% end %>
    </div>
    <div class="review-format-middle-forth">香りや味の表現方法を羅列し、タグ付けのようにする</div>
    <div class="review-format-middle-fifth">
      <%= form.label :content, "感想" %>
      <%= form.text_area :content, class: "content-variety" %>
    </div>
  </div>
  <div class="review-format-bottom">
    <%= form.submit "投稿する", class: "review-btn" %>
  </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>
