<%= render "shared/header" %>

<div class="review-new-main">
  <div class="review-invitation">ワインのレビューを投稿しよう</div>
  <div class="review-format">
  <div class="review-format-upper">
     <%= form_with model: @wine_review_form, url: reviews_path, local: true do |form| %>
        
          <%= form.label :wine_date, "日付" %>
          <%= form.text_field :wine_date, class: "date-field" %>
        
          <%= form.label :name, "ワイン名" %>
          <%= form.text_field :name, class: "name-field" %>

          <%= form.label :image, "写真" %>
          <%= form.file_field :image %>
  </div>

  <div class="review-format-middle">
    <div class="review-format-middle-first">
      
          <%= form.label :wine_bar, "お店" %>
          <%= form.text_field :wine_bar, class: "wine-bar-field" %>
        
          <%= form.label :type, "色" %>
          <%= form.collection_select(:type_id, Type.all, :id, :name, {}, {class:"type-field"}) %>
        
          <%= form.label :grape_variety, "品種" %>
          <%= form.collection_select(:grape_variety_id, GrapeVariety.all, :id, :name, {}, {class:"grape-variety-field"}) %>
        
    </div>
    <div class="review-format-middle-second">
          
          <%= form.label :region, "産地" %>
          <%= form.collection_select(:region_id, Region.all, :id, :name, {}, {class:"region-field"}) %>
          
          <%= form.label :producer, "生産者" %>
          <%= form.text_field :producer, class: "producer-variety" %>

    </div>
    <div class="review-format-middle-third">
      <% Review.wine_attributes.each do |attribute| %>
    
      <% case attribute %>
        <% when :sweetness %>
          <%= form.label attribute, "甘み" %>
        <% when :bitterness %>
          <%= form.label attribute, "渋み" %>
        <% when :acidity %>
          <%= form.label attribute, "酸味" %>
        <% when :alcohol %>
          <%= form.label attribute, "アルコール" %>
      <% end %>
      
      <% WineAttribute.all.each do |option| %>
        <%= form.radio_button attribute, option.id %>
        <%= option.name %>
      <% end %>
    
     <% end %>
    </div>
    <div class="review-format-middle-forth">
      
      <% FRAGRANCE_OPTIONS.each do |fragrance| %>
      <%= form.check_box :fragrances, { multiple: true }, fragrance %>
      <%= form.label fragrance %>
      <% end %>

    </div>
    <div class="review-format-middle-fifth">
      <%= form.label :content, "感想" %>
      <%= form.text_area :content, class: "content-variety", placeholder:"感想（風味や香り、お店、料理など）例）三軒茶屋のララムリでソラマメのフリットと一緒にたべたよ＾＾" ,rows:"7" ,maxlength:"1000"  %>
    </div>
  </div>
  <div class="review-format-bottom">
    <%= form.submit "投稿する", class: "review-btn" %>
  </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>
