<%= render "shared/header" %>

<div class="review-new-main">
  <div class="review-invitation">ワインのレビューを投稿しよう</div>
  <div class="review-format">
  <div class="review-format-upper">
     <%= form_with model: @wine_review_form, url:  wine_reviews_path, local: true do |form| %>
        
      <ul>
        <li><strong>ワイン名:</strong> <%= @wine.name %></li>
        <li><strong>種類:</strong> <%= @wine.type.name %></li>
        <li><strong>生産地:</strong> <%= @wine.region.name %></li>
        <li><strong>生産者:</strong> <%= @wine.producer %></li>
      </ul>
        
        
          
  </div>

  <div class="review-format-middle">
    <div class="review-format-middle-first">
          <%= form.label :wine_date, "日付", class: "date-label" %>
          <%= form.text_field :wine_date, id: "wine_date", class: "date-field" %>

          <%= form.label :wine_bar, "お店", class: "bar-label" %>
          <%= form.text_field :wine_bar, id: "wine_bar", class: "wine-bar-field" %>
      
          

          <%= form.label :image, "写真", class: "image-label" %>
          <%= form.file_field :image, id: "image" %>
    </div>
    <div class="review-format-middle-second">
          
          

    </div>
   <div class="review-format-middle-third">
  <% Review.wine_attributes.each do |attribute| %>
    
    <% label_text = case attribute %>
      <% when :sweetness then "甘み" %>
      <% when :bitterness then "渋み" %>
      <% when :acidity then "酸味" %>
      <% when :alcohol then "アルコール" %>
      <% else "" %>
    <% end %>
    <label><%= label_text %></label>

    <% WineAttribute.all.each do |option| %>
      <% radio_id = "#{attribute}_#{option.id}" %>
      <%= form.radio_button attribute, option.id, id: radio_id %>
      <label for="<%= radio_id %>"><%= option.name %></label>
    <% end %>

  <% end %>
</div>
    <div class="review-format-middle-forth">
      <% Fragrance.all.each do |fragrance| %>
  <div class="fragrance-checkboxes">
    <%= check_box_tag "fragrance_ids[]", fragrance.id, false, id: "fragrance_#{fragrance.id}" %>
    <%= label_tag "fragrance_#{fragrance.id}", fragrance.name %>
  </div>
<% end %>   
    </div>
    <div class="review-format-middle-fifth">
      <%= form.label :content, "感想", class: "content-label" %>
<%= form.text_area :content, id: "content", class: "content-variety", placeholder: "感想（風味や香り、お店、料理など）例）三軒茶屋のララムリでソラマメのフリットと一緒にたべたよ＾＾", rows: "7", maxlength: "1000" %>
    </div>
  </div>
  <div class="review-format-bottom">
    <%= form.submit "投稿する", class: "review-btn" %>
  </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>
