<div class="main-second">
  <div class="reviews">
    <% @reviews.each do |review| %>
      <div class="review">     
        <div class="review-top">
          <%= link_to(image_tag(review.user.avatar, alt: review.user.nickname, class: "avatar"), user_path(review.user)) %>
          <%= link_to review.user.nickname, user_path(review.user) %>
          <%= review.wine_date %>
          <div class="wine-name">
            <%= link_to "#{review.wine.name} (#{review.wine.region.name})", wine_path(review.wine) %>
          </div>
        </div>
        <div class="review-content">
          <div class="review-image">
            <%= link_to image_tag(review.image, class: "review-image"), review_path(review) %>
          </div>
          <div class="review-text"><%= review.content %></div>
        </div>
        <div class="attachment">
          <%= image_tag "good&comment.png", class: "good-comment" %>
        </div>
      </div>
    <% end %>