<%= render "shared/header" %>

<div class="reviews-show">

  <div class="review-show">     
            
            <div class="review-top">
            <%= link_to(image_tag(@review.user.avatar, alt: @review.user.nickname, class: "avatar"), user_path(@review.user)) %>
            
            <div class="date-name">
            <div class="wine-date"><%= @review.wine_date %></div>
            <div class="user-name"><%= link_to @review.user.nickname, user_path(@review.user), class: "user-name-color" %></div>
            </div>
            
            <div class="wine-name">
              <%= link_to "#{@review.wine.name} （ #{Region.find(@review.wine.region_id).name} ）", wine_path(@review.wine), class: "wine-name-color" %>
            </div>
            
          </div>

            <div class="show-review-content">
              <div class="review-image">
                <% if @review.image.attached? %>
                  <%= link_to image_tag(@review.image, class: "review-image"), "#" %>
                <% end %>
              </div>
              
              <div class="review-right">
                <div class="show-review-text"><%= @review.content %></div>
                <ul class="edit-destroy">
                  <% if user_signed_in? && @review.user == current_user %>  
                    <li><%= link_to "編集", edit_wine_review_path(wine_id: @review.wine_id, id: @review.id), class: "edit-link" %></li>
                    <li><%= link_to "削除", review_path(wine_id: @review.wine_id, id: @review.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-link" %></li>
                  <% end %>
                </ul>
                <div class="review-right-bottom">
                  
                  <div class="review-fragrance">
                      <% @review.fragrances.each do |fragrance| %>
                        <span class="review-fragrance-item">#<%= fragrance.name %></span>
                      <% end %>
                  </div>
                  
                  <div class="review-four-elements">
                      <ul>
                        <% attribute_names = { sweetness: '甘味', bitterness: '苦味', acidity: '酸味', alcohol: 'アルコール' } %>
                        <% Review.wine_attributes.each do |attribute| %>
                          <li>
                            <%= attribute_names[attribute] %>
                            <% rating = @review.send(attribute) %>
                            <% if rating.present? %> <!-- 評価がある場合 -->
                              <% (1..5).each do |i| %>
                                <% if i <= rating %>
                                  <span class="star">★</span>
                                <% else %>
                                  <span class="star">☆</span>
                                <% end %>
                              <% end %>
                            <% else %> <!-- 評価がない場合 -->
                              <% (1..5).each do %> <!-- すべての星を☆で表示 -->
                                <span class="star">☆</span>
                              <% end %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="wine-bar">
                      <div><%= image_tag "wine_bar_icon.png", alt: "店舗アイコン", class: "wine-bar-con" %></div>
                      <%= @review.wine_bar %>
                    </div>

                </div>
                


              </div>
            </div>
  
              <div class="review-bottom">
                  
                  
                 
                </div>
              </div>
                                
  </div>
      
</div>


<%= render "shared/footer" %>