<%= render "shared/header" %>

<% if @wines.present? %>
  <div class="search-result-upper">
    <% if @keywords.present? %>
      <%= @keywords %> の
    <% end %>
    検索結果一覧
    <% if @type_names.present? || @region_names.present? || @grape_variety_names.present? %>
      (<%= [@type_names, @region_names, @grape_variety_names].reject { |name| name.blank? }.join(", ") %>)
    <% end %>
    <br>
    <%= @wines.count %>件のワインがみつかりました
  </div>
  <div class="search-result">
    <% @wines.each do |wine| %>
      <div class="search-result-index">
        <div class="wine-information">
          <h3>ワイン名：<%= wine.name %></h3>
          <h3>生産者：<%= wine.producer %></h3>
          <h3>生産地：<%= wine.region.name %></h3>
          <h3>レビュー数：<%= wine.reviews.count %>件</h3>
        </div>
        <% if wine.image.attached? %>
          <%= image_tag wine.image, class: "wine-image-index" %>
        <% else %>
          <p>No Image</p>
        <% end %>
        <%= link_to "このワインの詳細へ", wine_path(wine), class: "details-link" %>
      </div>
    <% end %>
  </div>    
<% else %>
  <p>検索結果がありません。</p>
<% end %>

<%= render "shared/footer" %>
