<%= render "shared/header" %>

<div class="wine-show-main">
  <div class="wine-show-main-center">
    <div class="wine-info">
      <ul>
        <li><strong>ワイン名:</strong> <%= @wine.name %></li>
        <li><strong>種類:</strong> <%= @wine.type.name %></li>
        <li><strong>ブドウ品種:</strong> <%= @wine.grape_variety ? @wine.grape_variety.name : '情報なし' %></li>
        <li><strong>生産地:</strong> <%= @wine.region.name %></li>
        <li><strong>生産者:</strong> <%= @wine.producer %></li>
      </ul>
    </div>

    <div class="wine-image-container">
      <% if @wine.image.attached? %>
        <%= image_tag @wine.image, class: "wine-image" %>
      <% else %>
        <p>No Image</p>
      <% end %>
      <%= link_to(new_wine_review_path(wine_id: @wine.id), class: 'detail-page-review-btn') do %>
    <div class="detail-page-review-text">このワインのレビューを投稿する</div>
      <% end %>

    </div>
  </div>
</div>

<%= render "shared/review_index" %>

<%= render "shared/footer" %>
